.example {
  background-color: #eaeaea;
  margin: 0 0 27px;

  @media (min-width: $tablet) {
    margin: 0 0 162px;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    margin: 0 0 59px;
  }
}

.example__wrapper {
  padding: 25px 20px 39px;
  position: relative;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: minmax(378px, auto) minmax(219px, auto) minmax(138px, auto);
    grid-template-rows: minmax(119px, auto) minmax(127px, auto) minmax(74px, auto) minmax(103px, auto) minmax(95px, auto);
    padding: 25px 20px 0;

    &::after {
      content: "";
      z-index: -1;
      background-color: #eaeaea;
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: -100px;
    }
  }

  @media (min-width: $desktop) {
    grid-template-rows: minmax(205px, auto) minmax(164px, auto) minmax(75px, auto) minmax(95px, auto);
    grid-template-columns: 746px 516px 139px;
    justify-content: center;

    &::after {
      content: "";
      z-index: -1;
      background-color: #eaeaea;
      width: 100%;
      height: 100%;
      position: absolute;
      top: calc(100% - 404px);
    }
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  margin: 0 0 41px;
  width: 279px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    width: 325px;
    margin: 0 0 50px 11px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 90px 90px;
    grid-row: 1;
    grid-column: 1;
  }
}

.example__description {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    grid-row-start: 2;
    grid-column: 1 / 4;
    margin: 0 0 53px 10px;
  }

  @media (min-width: $desktop) {
    margin: 0 223px 53px 90px;
    grid-column: 1 / 2;
    grid-row: 2;
  }
}

.example__progress {
  margin: 0 0 34px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0;

  @media (min-width: $tablet) {
    margin: 0 0 0 10px;
    grid-row-start: 3;
  }

  @media (min-width: $desktop) {
    gap: 20px 39px;
    margin: 0 0 0 90px;
    justify-content: flex-start;
  }
}

.example__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 44%;
  min-height: 56px;
  position: relative;
  box-sizing: border-box;
  padding: 14px 13px;

  @media (min-width: $desktop) {
    width: 25%;
    padding: 15px 13px;
  }
}

.example__termin {
  text-align: center;
}

.example__statistics {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition {
  margin: 0;
  position: absolute;
  top: calc(100% - 9px);
  left: 50%;
  transform: translate(-50%);

  @media (min-width: $tablet) {
    top: calc(100% - 9px);
  }
}

.example__consumption--weight {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
  margin: 0;
  width: 60px;
  text-align: center;
  padding: 0 13px;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    width: 98px;
    padding: 0 8px; // Исправлено
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    background-color: #eaeaea;
  }
}

.example__consumption--time {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  background-color: #eaeaea;
  margin: 0;
  width: 60px;
  text-align: center;
  padding: 0 13px;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    width: 125px;
    padding: 0 7px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    background-color: #eaeaea;
  }
}

.example__food {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    text-align: right;
    grid-column: 2 / 4;
    grid-row-start: 3;
    margin: 7px 18px 0 166px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    grid-column: 1;
    grid-row: 4 / 5;
    text-align: left;
    margin: 55px 18px 6px 92px;
  }
}

.example__amount {
  margin-left: 0;

  @media (min-width: $tablet) {
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    margin-left: 61px;
  }
}

.example__amount br {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.example__container-slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: auto;

  @media (min-width: $tablet) {
    grid-row-start: 5;
    grid-column: 1 / -1;
    justify-self: center;
    margin: 0 7px 0 0;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    position: absolute;
    left: -14px;
    top: calc(100% - 538px);
    margin: 0 0 0 18px;
  }
}

.example__slider-image {
  position: absolute;
  object-fit: cover;
}

.example__slider-image--left {
  clip-path: inset(0 50% 0 0);
}

.example__slider-image--right {
  clip-path: inset(0 0 0 50%);
}

.example__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  height: 256px;
  background-color: #666666;
  cursor: ew-resize;
  transform: translateX(-50%);
  border-radius: 2px;

  @media (min-width: $tablet) {
    height: 512px;
  }

  &:hover {
    background-color: #68b738;

    &::before {
      background-color: #ffffff;
      border: 3px solid #68b738;
    }

    &::after {
      background-color: #68b738;
    }
  }

  &:focus {
    opacity: 0.65;
    outline: none;

    &::before {
      opacity: 0.65;
    }

    &::after {
      opacity: 0.65;
    }
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.65;
    outline: none;

    &::before {
      background-color: #ffffff;
      border: 3px solid #5eaa2f;
    }

    &::after {
      background-color: #5eaa2f;
    }
  }
}

.example__slider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: solid 3px #666666;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.example__slider::after {
  content: "";
  position: absolute;
  mask-image: url("../../icons/arrows-slider.svg");
  background-color: #666666;
  width: 24px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
